<div class="footer">
  <div class="footer-left">
    <div class="footer-left-credits">
      <span class="footer-left-text footer-left-indent">Created&nbsp;</span>
      <span class="footer-left-text">with</span>
      <a
        class="middle"
        href="https://github.com/angular/angular"
        target="_blank"
      >
        <img
          class="angular-log"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
          rel="noreferrer noopener"
        />
      </a>
    </div>
  </div>
  <div class="footer-middle">
    <div class="footer-middle-content">
      <a routerLink="/legal" routerLinkActive="active">Legal Notice</a>
      <em class="material-icons" style="font-size:22px">more_vert</em>
      <a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-right-copyright">
      <a
        ><span class="footer-right-copyright-brand"
          >© Raul Schnelzer {{ copyrightPeriod }}</span
        ></a
      >
      <span style="background:none;"> All Rights Reserved</span>
      <br />
      <br />
      <span style="background:none;">App Version </span>
      <span style="color:burlywood">{{ version }}</span>
    </div>
  </div>
</div>
