<div class="contact">
  
  <div *ngIf="showName()" class="contact">
    <p>{{ contactDetails.name }}</p>
  </div>

  <div *ngIf="showAddress()">
    <em class="material-icons middle">home</em>
    <span style="margin-left: 10px;">Ludwig-Ebner-Str. 1</span>
    <p style="margin-left: 32px;">94469 Deggendorf</p>
  </div>

  <div *ngIf="showDirectContact()">
  <div>
    <em class="material-icons middle">mail_outline</em>
    <a class="contactlink" href="mailto:{{ contactDetails.mail }}">
      {{ contactDetails.mail }}</a
    >
  </div>
  <div>
    <em class="material-icons middle">phone</em>
    <a class="contactlink" href="tel:{{ contactDetails.phone }}">
      {{ contactDetails.phone }}</a
    >
  </div>
</div>

  <br />

  <div *ngIf="showSocialMedia()" class="socialmedia">
    <a
      *ngFor="let contact of onlineContact"
      href="{{ contact.link }}"
      rel="noreferrer noopener"
      target="_blank"
      class="tooltip"
    >
      <img
        [style.height]="contact.size"
        [class]="contact.class"
        src="{{ contact.image }}"
        alt="{{ contact.source }}"
      />
      <p class="tooltip-text">{{ contact.source }}</p>
    </a>
  </div>

</div>
