.contact {
  line-height: 32px;
}
@media screen {
  .contact {
    font-size: 20px;
  }
}
@media screen and (min-width: 770px) {
  .contact {
    font-size: 24px;
  }
}

.contact-icon {
  margin-left: 5px;
  padding: 2px;
  min-height: 32px;
  max-height: 50px;
}

.contactlink {
  color: var(--theme-accent);
  margin-left: 10px;
}
