<div class="header-overlay" [style.height.px]="overlayHeight">
  <app-header
    [titlePrefix]="titlePrefix"
    [titleSufix]="titleSufix"
    [navigationItems]="navigationItems"
    [fontColor]="overlayFontColor"
    [logoSource]="overlayLogoSrc"
    #headerOverlay
  >
</app-header>
</div>

<div class="header">
  <app-header
    [titlePrefix]="titlePrefix"
    [titleSufix]="titleSufix"
    [navigationItems]="navigationItems"
    [fontColor]="headerFontColor"
    [logoSource]="headerLogoSrc"
    [backlight]="true"
    #header
  ></app-header>
</div>

<div style="height:80%;overflow:hidden">
  <p class="landingpage-title fadein">
    Welcome
  </p>
</div>

<div class="parallax-creativityIntro">
  <div class="inspirational-text" [style]="creativityIntro">
    Anything can be done without any creativity.
  </div>
</div>

<div style="height:10%"></div>

<div class="parallax-creativityOutro">
  <div class="inspirational-text" [style]="creativityOutro">
    But with some creativity
    <br />
    everything can be done.
  </div>
</div>

<div class="anchor">
  <a name="about"></a>
</div>
<div class="section-title">
  <span>_</span><a routerLink="/about" routerLinkActive="active">Who I am</a>
</div>
<div class="about-me-container">
  <img class="about-me-image" src="../assets/images/me.png" />
</div>
<div class="section-content hidden justify" #aboutContent>
  <div>
    <p>Hi, I'm Raul!</p>
    <p>
      I am a creativity-driven and passionate developer who aspires towards
      better software solutions. I thrive on challenge and constantly set goals
      for myself to improve my knowledge, soft-skills, learning new
      methodologies and technologies.
    </p>
    <p>
      As such I read books (yes, the physical ones), use on-demand technology
      courses, read blogs and am active on networks like StackOverflow.
    </p>
  </div>
</div>

<div class="anchor">
  <a name="skills"></a>
</div>
<div class="section-title">
  <span>_</span><a routerLink="/skills" routerLinkActive="active">Skills</a>
</div>
<div class="section-content hidden" #skillsContent>
  <div *ngFor="let skillset of skillsets" class="skill-section">
    <p>{{ skillset.category }}</p>
    <span *ngFor="let skill of skillset.skills" class="skill">{{ skill }}</span>
  </div>
</div>

<div class="anchor">
  <a name="certifications"></a>
</div>
<div class="section-title">
  <span>_</span
  ><a routerLink="/certifications" routerLinkActive="active">Certifications</a>
</div>
<div class="section-content hidden scrollable" #certsContent>
  <div class="cert-wrapper" *ngFor="let certificate of certificates">
    <img src="{{ certificate.icon }}" class="cert-icon" />
    <div class="cert-details">
      <a class="cert-name" href="{{ certificate.link }}" target="_blank">{{
        certificate.name
      }}</a>
      <p class="cert-info">Issuer: {{ certificate.issuer }}</p>
      <p class="cert-info">
        Issued: {{ certificate.validFrom }} - {{ certificate.validUntil }}
      </p>
    </div>
  </div>
  <p>Ask me for further certifications.</p>
</div>

<div class="anchor">
  <a name="services"></a>
</div>
<div class="section-title">
  <span>_</span><a routerLink="/services" routerLinkActive="active">Services</a>
</div>
<div class="section-content hidden" #servicesContent>
  <ul>
    <li *ngFor="let service of servicesOffered">
      <p>{{ service.description }}</p>
    </li>
  </ul>
</div>

<div class="anchor">
  <a name="contact"></a>
</div>
<div class="section-title">
  <span>_</span><a routerLink="/contact" routerLinkActive="active">Contact</a>
</div>
<div class="section-content hidden" #contactContent>
  <app-contact [contactOptions]="contactOptions"></app-contact>
</div>

<div style="height:200px"></div>

<div [class]="classes.legal" #legalContent>
  <a class="closeLegal" (click)="closeLegal()">
    <i class="material-icons">close</i>
  </a>
  <app-legal></app-legal>
</div>

<div class="empty" *ngFor="let repeat of [1, 2, 3, 4]"></div>

<div>
  <a [class]="classes.up" (click)="scrollToTop()">
    <i class="material-icons">arrow_upward</i>
  </a>
</div>

<app-footer></app-footer>
