<div class="header-overlay" [style.height.px]="overlayHeight">
  <app-header
    [titlePrefix]="titlePrefix"
    [titleSufix]="titleSufix"
    [navigationItems]="navigationItems"
    [fontColor]="overlayFontColor"
    [logoSource]="overlayLogoSrc"
    [logoClass]="classes.logo"
    #headerOverlay
  >
  </app-header>
</div>

<div class="header">
  <app-header
    [titlePrefix]="titlePrefix"
    [titleSufix]="titleSufix"
    [navigationItems]="navigationItems"
    [fontColor]="headerFontColor"
    [logoSource]="headerLogoSrc"
    [logoClass]="classes.logo"
    [backlight]="true"
    #header
  ></app-header>
</div>

<div class="nav-button-wrapper">
  <button class="nav-button" (click)="navButtonPressed()">
    <em class="material-icons middle">{{ menuState }}</em>
  </button>
</div>
<div [class]="classes.nav">
  <div class="nav-menu-header"></div>
  <div class="nav-menu-items">
    <div *ngFor="let nav of navigationItems">
      <a
        class="nav-menu-item"
        routerLink="{{ nav.href }}"
        routerLinkActive="active"
      >
        {{ nav.display }}
      </a>
    </div>
  </div>
  <div *ngFor="let nav of navigationSubItems">
    <a
      class="nav-menu-subitem"
      routerLink="{{ nav.href }}"
      routerLinkActive="active"
    >
      {{ nav.display }}
    </a>
  </div>
</div>

<div class="landingpage">
  <p class="landingpage-title fadein">
    Welcome
  </p>
</div>

<!-- intro -->
<div class="parallax-creativityIntro" #intro>
  <div class="inspirational-text" [style]="creativityIntro">
    Anything can be done without any creativity.
  </div>
</div>

<div style="height:10%"></div>

<!-- outro -->
<div class="parallax-creativityOutro" #outro>
  <div class="inspirational-text" [style]="creativityOutro">
    But with some creativity
    <br />
    everything can be done.
  </div>
</div>

<!-- about -->
<div #aboutAnchor></div>
<app-section
  sectionId="about"
  sectionTitle="Who I am"
  link="/about"
  [window]="window"
>
  <div class="about-me-container" subtitle>
    <img
      class="about-me-image"
      alt="raul schnelzer"
      src="../assets/images/me.png"
    />
  </div>
  <div class="default-section-content justify" content>
    <p>Hi, I'm Raul!</p>
    <p>
      I am a creativity-driven and passionate developer who aspires towards
      better software solutions. I thrive on challenge and constantly set goals
      for myself to improve my knowledge, soft-skills, learning new
      methodologies and technologies.
    </p>
    <p>
      As such I read books (yes, the physical ones), use on-demand technology
      courses, read blogs and am active on networks like StackOverflow.
    </p>
    <br />
  </div>
</app-section>

<!-- skills -->
<div #skillsAnchor></div>
<app-section
  sectionId="skills"
  sectionTitle="Skills"
  link="/skills"
  [window]="window"
>
  <div class="default-section-content justify" content>
    <div *ngFor="let category of skillsets" class="skill-category">
      <p class="nomargin">{{ category.name }}</p>
      <div
        class="skills-category-bar"
        [style.background]="category.color">
      </div>
      <div class="skill-section">
        <span *ngFor="let skill of category.skills" class="skill">
          {{ skill }}
        </span>
      </div>
    </div>
    <br />
  </div>
</app-section>

<!-- certifications -->
<div #certsAnchor></div>
<app-section
  sectionId="certifications"
  sectionTitle="Certifications"
  link="/certifications"
  [window]="window"
>
  <div class="default-section-content scrollable justify" content>
    <div class="cert-wrapper" *ngFor="let certificate of certificates">
      <img
        src="{{ certificate.icon }}"
        alt="certificate icon"
        class="cert-icon"
      />
      <div class="cert-details">
        <a
          class="cert-name"
          href="{{ certificate.link }}"
          rel="noreferrer noopener"
          target="_blank"
          >{{ certificate.name }}</a
        >
        <p class="cert-info">Issuer: {{ certificate.issuer }}</p>
        <p class="cert-info">
          Issued: {{ certificate.validFrom }} - {{ certificate.validUntil }}
        </p>
      </div>
    </div>
    <p>Ask me for further certifications.</p>
  </div>
</app-section>

<!-- services -->
<div #servicesAnchor></div>
<app-section
  sectionId="services"
  sectionTitle="Services"
  link="/services"
  [window]="window"
>
  <div class="default-section-content" content>
    <ul>
      <li *ngFor="let service of servicesOffered">
        <p>{{ service.description }}</p>
      </li>
    </ul>
  </div>
</app-section>

<!-- contact -->
<div #contactAnchor></div>
<app-section
  sectionId="contact"
  sectionTitle="Contact"
  link="/contact"
  [window]="window"
  #contactAnchor
>
  <div class="default-section-content" content>
    <app-contact [contactOptions]="contactOptions"></app-contact>
  </div>
</app-section>

<div style="height:200px"></div>

<!-- legal -->
<div *ngIf="isLegalOpen" id="legal" [class]="classes.legal">
  <app-legal (closed)="closeLegal()"></app-legal>
</div>

<!-- privacy -->
<div *ngIf="isPrivacyOpen" id="privacy" [class]="classes.privacy">
  <app-privacy
    [isProduction]="isProduction"
    [modifiedDate]="privacyLastModified"
    (closed)="closePrivacy()"
  ></app-privacy>
</div>

<div class="empty" *ngFor="let repeat of [1, 2, 3, 4]"></div>

<!-- up button -->
<div>
  <a [class]="classes.up" (click)="scrollToTop()">
    <em class="material-icons">arrow_upward</em>
  </a>
</div>

<!-- footer -->
<app-footer></app-footer>
