.section-title,
.section-wrapper {
  max-width: 600px;
}

.section-title {
  margin: 0 auto 20px auto;
  padding-left: 22px;
  line-height: 44px;
  vertical-align: middle;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: var(--theme-font-color);
  overflow: hidden;
  white-space: nowrap;
}

@media screen {
  .section-title {
    font-size: 36px;
  }
  .section-wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 770px) {
  .section-title {
    font-size: 40px;
  }
  .section-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 44px;
  }
}

.section-title-tags {
  font-family: Consolas;
  font-size: 34px;
  line-height: 44px;
  vertical-align: middle;
  background: -webkit-linear-gradient(right, #ffa600, #ff0062 48px, #af0bd8);
  background: -moz-linear-gradient(right, #ffa600, #ff0062 48px, #af0bd8);
  background: -o-linear-gradient(right, #ffa600, #ff0062 48px, #af0bd8);
  background: linear-gradient(to right, #ffa600, #ff0062 48px, #af0bd8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-wrapper {
  margin: 40px auto;
  border-radius: 0 20px;
  overflow: hidden;
}

.section-content-wrapper {
  border-radius: 0 20px;
  min-height: 300px;
}

.section-top-corner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  fill: #dedede;
  overflow: hidden;
}

.section-bottom-corner {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  fill: #dedede;
}

.section-content {
  background: -webkit-radial-gradient(top right, white 5%, #cccccc);
  background: radial-gradient(at top right, white 5%, #cccccc);
  height: max-content;
  position: relative;
  top: 20px;
  left: 0px;
  width: calc(100% - 15px);
  border-radius: 0 15px;
  min-height: 280px;
}

.fluent-gradient {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #00ffbd,
    #00d0ff,
    #9800ff,
    #00d0ff,
    #00ffbd,
    blue,
    #af0bd8,
    #ff0062,
    #ffa600
  );
  background-size: 1000% 1000%;

  -webkit-animation: fluent-transition 48s ease infinite;
  -moz-animation: fluent-transition 48s ease infinite;
  -o-animation: fluent-transition 48s ease infinite;
  animation: fluent-transition 48s ease infinite;
}

@-webkit-keyframes fluent-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes fluent-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes fluent-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fluent-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
