<div class="legal-wrapper">
  <div class="legal-title">Privacy Policy</div>
  <div class="empty"></div>

  <div class="disclaimer legal-text">
    <p>
      I believe that privacy is a fundamental right. As such I do not set
      cookies or track your sessions while you are using this website. However,
      I use anonymised data for telemetry. In detail: counting page visits,
      server response time and failed requests are traced anonymous. I do not
      use Google Analytics or other Tools to correlate visitors and their
      browsing behaviour.
    </p>
  </div>

  <div class="legal-sub">
    <p>Responsible for the content</p>
    <p>according to § 55 RStV</p>
  </div>
  <app-contact [contactOptions]="nameAdressOptions"></app-contact>
  <div class="privacy-contact-mail">
    <i class="material-icons middle">mail_outline</i>
    <a class="contactlink" href="mailto:{{ resposibilityMail }}">
      {{ resposibilityMail }}</a
    >
  </div>

  <div class="legal-sub">
    <p>Your data protection rights</p>
  </div>
  <div class="disclaimer legal-text">
    <p>
      Every user is entitled regarding his/hers/its data protection rights to
      the following:
    </p>
    <p>
      <b> The right to access </b>- You have the right to request Our Company
      for copies of your personal data. We may charge you a small fee for this
      service.
    </p>
    <ul>
      <li>
        <b>The right to rectification</b> - You have the right to request that
        Our Company correct any information you believe is inaccurate. You also
        have the right to request Our Company to complete information you
        believe is incomplete.
      </li>
      <li>
        <b> The right to erasure</b> — You have the right to request that Our
        Company erase your personal data, under certain conditions.
      </li>
      <li>
        <b>The right to restrict processing</b> - You have the right to request
        that Our Company restrict the processing of your personal data, under
        certain conditions.
      </li>
      <li>
        <b>The right to object to processing</b> - You have the right to Object
        to Our Company's processing of your personal data, under certain
        conditions.
      </li>
      <li>
        <b>The right to data portability</b> - You have the right to request
        that Our Company transfer the data that we have collected to another
        organization, or directly to you, under certain conditions.
      </li>
    </ul>
    <p>
      If you make request about data protection, I will respond within a month.
    </p>
    <p>
      Should you wish to report a complaint, you have the right to contact the
      Information Commissioner's Office.
    </p>
  </div>

  <br *ngFor="let repeat of [1, 2, 3]" />
</div>
